<div class="uk-padding" scrollable>
    <h2>Planes Reseller</h2>
    <table class="uk-table uk-table-divider">
        <thead>
            <tr>
                <th>  </th>
                <th>Bronce</th>
                <th>Plata</th>
                <th>Oro</th>
                <th>Diamante</th>
                <th>Bedrock</th>
            </tr>
        </thead>      

        <tbody>
            <tr>
                <td>Número de cuentas generadas</td>
                <td>40</td>
                <td>80</td>
                <td>100</td>
                <td>200</td>
                <td>400</td>
            </tr>
            <tr>
                <td>Precio por cuentas generadas</td>
                <td>1$c/u</td>
                <td>0.9$c/u</td>
                <td>0.8$c/u</td>
                <td>0.7$c/u</td>
                <td>0.6$c/u</td>
            </tr>
            <tr>
                <td>Conexiones simultáneas por cuenta</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Películas, Series, Documentales y Anime</td>
                <td>✓</td>
                <td>✓</td>
                <td>✓</td>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <td>Descarga de contenido habilitada</td>
                <td>✓</td>
                <td>✓</td>
                <td>✓</td>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <td>Laptop, Smartphone, Tablet O TV</td>
                <td>✓</td>
                <td>✓</td>
                <td>✓</td>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <td>Calidad de la Imagen</td>
                <td>480p</td>
                <td>480p</td>
                <td>480p</td>
                <td>480p</td>
                <td>480p</td>
            </tr>
            <tr>
                <td>Costo del Plan</td>
                <td>40$</td>
                <td>72$</td>
                <td>80$</td>
                <td>140$</td>
                <td>240$</td>
            </tr>
            <tr>
                <td>  </td>
                <td><a class="uk-button uk-danger uk-enphasis uk-rounded" target="_blank" href="https://t.me/+IE-l_EA7I6Q2YWMx" rel="noreferrer" > contactar </a></td>
                <td><a class="uk-button uk-danger uk-enphasis uk-rounded" target="_blank" href="https://t.me/+IE-l_EA7I6Q2YWMx" rel="noreferrer" > contactar </a></td>
                <td><a class="uk-button uk-danger uk-enphasis uk-rounded" target="_blank" href="https://t.me/+IE-l_EA7I6Q2YWMx" rel="noreferrer" > contactar </a></td>
                <td><a class="uk-button uk-danger uk-enphasis uk-rounded" target="_blank" href="https://t.me/+IE-l_EA7I6Q2YWMx" rel="noreferrer" > contactar </a></td>
                <td><a class="uk-button uk-danger uk-enphasis uk-rounded" target="_blank" href="https://t.me/+IE-l_EA7I6Q2YWMx" rel="noreferrer" > contactar </a></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="uk-padding uk-padding-remove-top">
    <h2>¿ QUIERES SER UN VENDEDOR OFICIAL ?</h2>
    <p class="uk-text-justify">
        Puedes formar parte de nuestra familia y ser un vendedor oficial de ArepaTV desde cualquier parte del mundo. Aquí te ofrecemos los mejores planes y soporte 24/7 para tener un ingreso sostenible mes a mes con la aplicación más popular del momento. ¿Tienes dudas? desde el botón de abajo puedes escribirnos para tener un asesor personal!
    </p>
    <a class="uk-button uk-danger uk-enphasis uk-rounded" target="_blank" href="https://t.me/+IE-l_EA7I6Q2YWMx" rel="noreferrer" > Contactanos </a>
</div>

<hr class="uk-danger">